@font-face{
    font-family: Bankay;
    src: url(../fonts/Bankay.ttf);
}
body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
a,a:visited,a:active,a:hover{
    text-decoration:none;
    color:black;
		     }
.head-fon{
    background-image:url('../img/back.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.head{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:300px;
    background-color: rgba(255,205,148,0.9);
}
.title{
    font-family: Bankay, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 45px;
    width:280px;
}
.desc{
    margin:auto;
    text-align:center;
    width:280px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffad60;
}
.content{
    padding: 20px 100px;
    text-align:justify;
}
.footer{
    width:100%;
    padding:10px;
    text-align:center;
    position:absolute;
    bottom: 0;